{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container mx-auto" style="max-width: 800px">
    <div class="row">
        <div class="col-md-8 mt-3">
            <h3>{% trans "Change Password" %}</h3>

            <form method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}

                <input type="hidden" name="next" value="/booking/accountpage/" />

                {{ form.non_field_errors }}

                <p>
                    {{ form.oldpassword.label_tag }}
                    {{ form.oldpassword }}
                    {{ form.oldpassword.errors }}
                </p>

                <p>
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </p>

                <p>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
                </p>

                <button
                    type="submit"
                    name="action"
                    value="change"
                    class="btn btn-bistro btn-sm btn-bdr mt-4"
                >
                    {% trans "Change Password" %}
                </button>
            </form>

            <a href="{% url 'booking:accountpage' %}" class='btn btn-bistro btn-sm btn-bdr mt-4'>Back</a>
        </div>
    </div>
</div>
{% endblock content %}
