{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class='container mx-auto' style='max-width: 800px;'>

    <h2>Contact Us</h2>
    
    <div>
        <p><strong>Address:</strong></p>
        <p>Gregorys Bistro<br>
            123 Gregorys Street<br>
            London<br>
            GR12 3EG</p>
        <br>
        <p><strong>Phone: </strong>01234 567890</p>
    </div>
    <div>
        <h3>Opening Hours</h3>
        <p><i>Hours may vary depending on holidays</i></p>
        <ul>
            <li><strong>Monday: </strong>11:00 - 22:00</li>
            <li><strong>Tuesday: </strong>11:00 - 22:00</li>
            <li><strong>Wednesday: </strong>11:00 - 22:00</li>
            <li><strong>Thursday: </strong>11:00 - 22:00</li>
            <li><strong>Friday: </strong>11:00 - 23:00</li>
            <li><strong>Saturday: </strong>11:00 - 23:00</li>
            <li><strong>Sunday: </strong>11:00 - 21:00</li>
        </ul>
    </div>
    <hr>
    <p>If you'd like to send us a message with your request or question please feel free to use the form below:</p>
    <form method='post' class='mt-4'>
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class='mb-3'>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class='mb-3'>
            {{ form.message.label_tag }}
            {{ form.message }}
            {{ form.message.errors }}
        </div>

        <button type='submit' class='btn btn-bistro btn-bdr'>
            Send Message
        </button>
    </form>
</div>
{% endblock %}