{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='booking-page'>

  <h1>Make a Booking</h1>
  <!-- BOOKING FORM -->
  <section class='booking-form'>
    <form method='post'>
      {% csrf_token %}
      <div>
        <div>Date:</div>
        <div>{{ form.date }}</div>
      </div>
      <div>
        <div>Number of People:</div>
        <div>{{ form.party_size }}</div>
      </div>
      <div>
        <div>Time:</div>
        <div>{{ form.slot }}</div>
      </div>
      <div>
        <div>Allergies?:</div>
        <div>{{ form.allergies }}</div>
      </div>
      <button type='submit'>
        {% if editing %}
          Amend booking
        {% else %}
          Make booking
        {% endif %}
      </button>
    </form>
 
  </section>

  <!-- MY BOOKINGS -->
  {% if my_bookings %}
    <section class='my-bookings'>
      <h2>My Upcoming Bookings</h2>

      <ul class='booking-list'>
        {% for booking in my_bookings %}
          <li class='booking-item'>
            <div class='booking-details'>
              <strong>{{ booking.start_time|date:'D d M Y' }}</strong>
              at {{ booking.start_time|time:'H:i' }}
              <br>
              ({{ booking.party_size }} people)
              {% if booking.status == 'CANCELLED' %}
                <span class='status cancelled'>--Cancelled--</span>
              {% endif %}
            </div>

            <div class='booking-actions'>
                
                {% if booking.status != 'CANCELLED' %}
                  <a href='{% url "booking:edit_booking" booking.id %}'>Edit</a>
                {% endif %}
                
                <form
                    method='post'
                    action='{% url "booking:cancel_booking" booking.id %}'
                    style='display:inline'
                    onsubmit='return confirm("Are you sure you want to cancel this booking?");'
                >
                    {% csrf_token %}
                    {% if booking.status != 'CANCELLED' %}
                        <button type='submit'>Cancel</button>
                    {% else %}
                        <p class='text-muted'>
                            This booking has been cancelled and cannot be modified.
                        </p>
                    {% endif %}
                </form>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

</div>
{% endblock %}
{% block extras %}
<script src='{% static "js/available_slots.js" %}'></script>
{% endblock %}